In [9]:
%run ../utils/init_env.py

In [10]:
import sqlite3
import json
import os
import pandas as pd
import nltk
nltk.download('punkt_tab')

import evaluation as spider

[nltk_data] Downloading package punkt_tab to
[nltk_data]     /Users/atissera/nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!

In [12]:
DB_PATH = "/Users/atissera/Developer/repos/tesis/spider_data/test_database"
PREDICTIONS = "/Users/atissera/Developer/repos/tesis/spider_data/test.json"

In [ ]:

kmaps = spider.build_foreign_key_map_from_json("../spider_data/test_tables.json")
spider.evaluate(gold="../data/gold_queries.sql", predict="../data/predicted_queries.sql", db_dir="../spider_data/test_database", etype="all", kmaps=kmaps)

eval_err_num:1
medium pred: SELECT s.bio_data, sa.address_details FROM Students s JOIN Students_Addresses sa ON s.student_id = sa.student_id This query retrieves the bio data from the `Students` table and joins it with the `Students_Addresses` table to get the address details for each student.
medium gold: SELECT T1.address_details ,  T3.bio_data FROM Addresses AS T1 JOIN Students_Addresses AS T2 ON T1.address_id  =  T2.address_id JOIN Students AS T3 ON T2.student_id  =  T3.student_id

hard pred: SELECT AVG(SalePrice) FROM Book WHERE Author IN ( SELECT idAuthor FROM Author WHERE Name = 'George Orwell' )
hard gold: SELECT avg(saleprice) FROM Book AS T1 JOIN Author_book AS T2 ON T1.isbn  =  T2.isbn JOIN Author AS T3 ON T2.Author  =  T3.idAuthor WHERE T3.name  =  "George Orwell"

eval_err_num:2
hard pred: SELECT DISTINCT b1.Code FROM Boxes b1, Boxes b2 WHERE b1.Value > ALL ( SELECT b3.Value FROM Boxes b3 WHERE b3.Contents = 'Rocks' ) AND b1.Code != ALL ( SELECT b4.Code FROM Boxes b4 WHERE b4.Contents = 'Rocks' )
hard gold: SELECT code FROM boxes WHERE value  >  (SELECT min(value) FROM boxes WHERE CONTENTS  =  'Rocks')

eval_err_num:3
extra pred: SELECT COUNT(*) FROM channel c LEFT JOIN program p ON c.Channel_ID = p.Channel_ID WHERE p.Program_ID IS NULL
extra gold: SELECT count(*) FROM channel WHERE channel_id NOT IN (SELECT channel_id FROM program)

eval_err_num:4
medium pred: SELECT c.Customer_Details FROM Customers c JOIN Customer_Interactions ci ON c.Customer_ID = ci.Customer_ID WHERE ci.Status_Code = 'Stuck' AND ci.Services_and_Channels_Details = 'bad'
medium gold: select t1.customer_details from customers as t1 join customer_interactions as t2 on t1.customer_id  =  t2.customer_id where t2.status_code  =  "stuck" and services_and_channels_details  =  "bad"

eval_err_num:5
medium pred: SELECT bid, COUNT(*) AS reservation_count FROM Reserves WHERE bid > 50 GROUP BY bid
medium gold: SELECT bid ,  count(*) FROM Reserves GROUP BY bid HAVING bid  >  50

eval_err_num:6
extra pred: SELECT s.Name, SUM(st.Quantity) AS TotalQuantity FROM store s JOIN stock st ON s.Store_ID = st.Store_ID GROUP BY s.Store_ID
extra gold: SELECT t1.name ,  sum(t2.quantity) FROM store AS t1 JOIN stock AS t2 ON t1.store_id  =  t2.store_id GROUP BY t2.store_id ORDER BY sum(t2.quantity) DESC LIMIT 1

eval_err_num:7
medium pred: SELECT a.agency_id, a.agency_details FROM Agencies a JOIN Clients c ON a.agency_id = c.agency_id GROUP BY a.agency_id, a.agency_details HAVING COUNT(c.client_id) >= 2
medium gold: SELECT T1.agency_id ,  T1.agency_details FROM Agencies AS T1 JOIN Clients AS T2 ON T1.agency_id  =  T2.agency_id GROUP BY T1.agency_id HAVING count(*)  >=  2

eval_err_num:8
hard pred: SELECT DISTINCT o.date_order_placed FROM Orders o JOIN ( SELECT customer_id FROM Customer_Payment_Methods GROUP BY customer_id HAVING COUNT(payment_method_code) >= 2 ) cp ON o.customer_id = cp.customer_id
hard gold: SELECT date_order_placed FROM Orders WHERE customer_id IN ( SELECT T1.customer_id FROM Customers AS T1 JOIN Customer_Payment_Methods AS T2 ON T1.customer_id  =  T2.customer_id GROUP BY T1.customer_id HAVING count(*)  >=  2 )

hard pred: SELECT distance FROM Direct_distance WHERE city1_code = (SELECT city_code FROM City WHERE city_name = 'Boston') AND city2_code = (SELECT city_code FROM City WHERE city_name = 'Newark')
hard gold: SELECT distance FROM Direct_distance AS T1 JOIN City AS T2 ON T1.city1_code  =  T2.city_code JOIN City AS T3 ON T1.city2_code  =  T3.city_code WHERE T2.city_name  =  "Boston" AND T3.city_name  =  "Newark"

eval_err_num:9
extra pred: SELECT DISTINCT w.Location FROM Warehouses w JOIN Boxes b1 ON w.Code = b1.Warehouse JOIN Boxes b2 ON w.Code = b2.Warehouse WHERE b1.Contents = 'Rocks' AND b2.Contents = 'Scissors'
extra gold: SELECT T2.location FROM boxes AS T1 JOIN warehouses AS T2 ON T1.warehouse  =  T2.code WHERE T1.contents  =  'Rocks' INTERSECT SELECT T2.location FROM boxes AS T1 JOIN warehouses AS T2 ON T1.warehouse  =  T2.code WHERE T1.contents  =  'Scissors'

eval_err_num:10
extra pred: SELECT s.rating, AVG(s.age) FROM Sailors s JOIN Reserves r ON s.sid = r.sid JOIN Boats b ON r.bid = b.bid WHERE b.color = 'red' GROUP BY s.rating
extra gold: SELECT T1.rating ,  avg(T1.age) FROM Sailors AS T1 JOIN Reserves AS T2 ON T1.sid  =  T2.sid JOIN Boats AS T3 ON T3.bid  =  T2.bid WHERE T3.color  =  'red' GROUP BY T1.rating

eval_err_num:11
medium pred: SELECT COUNT(*) FROM Movies WHERE Rating IS NOT NULL
medium gold: SELECT count(*) ,  rating FROM movies WHERE rating != 'null' GROUP BY rating

easy pred: SELECT COUNT(*) FROM PilotSkills WHERE age > 40 OR age < 30
easy gold: SELECT count(pilot_name) FROM pilotskills ORDER BY age  >  40 OR age  <  30

eval_err_num:12
medium pred: SELECT m.Name, c.Club_Name FROM member m JOIN club_leader cl ON m.Member_ID = cl.Member_ID JOIN club c ON cl.Club_ID = c.Club_ID
medium gold: SELECT T3.Name ,  T2.Club_Name FROM club_leader AS T1 JOIN club AS T2 ON T1.Club_ID  =  T2.Club_ID JOIN member AS T3 ON T1.Member_ID  =  T3.Member_ID

hard pred: SELECT SUM(Value) FROM Boxes WHERE Warehouse = ( SELECT Code FROM Warehouses ORDER BY Capacity DESC LIMIT 1 )
hard gold: SELECT sum(T1.value) FROM boxes AS T1 JOIN warehouses AS T2 ON T1.warehouse  =  T2.code ORDER BY T2.capacity DESC LIMIT 1

eval_err_num:13
hard pred: SELECT l.name FROM languages l LEFT JOIN official_languages ol ON l.id = ol.language_id WHERE ol.country_id IS NULL
hard gold: SELECT name FROM languages WHERE id NOT IN (SELECT language_id FROM official_languages)

easy pred: SELECT DISTINCT plane_name FROM Hangar ORDER BY plane_name ASC
easy gold: SELECT DISTINCT plane_name FROM pilotskills ORDER BY plane_name

eval_err_num:14
medium pred: SELECT c.Name, SUM(co.Quantity) AS Total_Quantity FROM customer c JOIN customer_order co ON c.Customer_ID = co.Customer_ID GROUP BY c.Customer_ID
medium gold: SELECT T1.Name ,  sum(T2.Quantity) FROM customer AS T1 JOIN customer_order AS T2 ON T1.Customer_ID  =  T2.Customer_ID GROUP BY T1.Name

eval_err_num:15
medium pred: SELECT DISTINCT s.sid, s.name FROM Sailors s JOIN Reserves r ON s.sid = r.sid WHERE s.rating > 2
medium gold: SELECT DISTINCT T1.name ,  T1.sid FROM Sailors AS T1 JOIN Reserves AS T2 ON T1.sid  =  T2.sid WHERE  T1.rating  >  2

eval_err_num:16
medium pred: SELECT l.name, COUNT(*) AS num_countries FROM languages l JOIN official_languages ol ON l.id = ol.language_id GROUP BY l.name
medium gold: SELECT T2.name ,  COUNT(*) FROM official_languages AS T1 JOIN languages AS T2 ON T1.language_id  =  T2.id GROUP BY T2.name

eval_err_num:17
extra pred: SELECT DISTINCT s.Service_Details FROM Services s JOIN Customers c ON s.Service_ID IN ( SELECT cs.Service_ID FROM Customers_and_Services cs JOIN Customers cu ON cs.Customer_ID = cu.Customer_ID WHERE cu.Customer_Details = 'Hardy Kutch' ) JOIN Customer_Interactions ci ON s.Service_ID = ci.Service_ID WHERE ci.Services_and_Channels_Details = 'bad'
extra gold: SELECT DISTINCT t3.service_details FROM customers AS t1 JOIN customers_and_services AS t2 ON t1.customer_id  =  t2.customer_id JOIN services AS t3 ON t2.service_id  =  t3.service_id JOIN customer_interactions AS t4 ON t3.service_id  =  t4.service_id WHERE t1.customer_details  =  "Hardy Kutch" AND t4.services_and_channels_details  =  "bad"

easy pred: SELECT MIN(Price) FROM goods WHERE Flavor LIKE '%cheese%'
easy gold: SELECT min(price) FROM goods WHERE flavor  =  "Cheese"

eval_err_num:18
medium pred: SELECT COUNT(*) FROM Properties WHERE (parking_lots = 1 OR garage_yn = 1)
medium gold: SELECT count(*) FROM Properties WHERE parking_lots  =  1 OR garage_yn  =  1;

eval_err_num:19
extra pred: SELECT DISTINCT s.name FROM staff s JOIN conference_participation cp1 ON s.staff_ID = cp1.staff_ID AND cp1.role = 'Speaker' JOIN conference_participation cp2 ON s.staff_ID = cp2.staff_ID AND cp2.role = 'Sponsor'
extra gold: SELECT T1.name FROM staff AS T1 JOIN conference_participation AS T2 ON T1.staff_id  =  T2.staff_id WHERE T2.role  =  'Speaker' INTERSECT SELECT T1.name FROM staff AS T1 JOIN conference_participation AS T2 ON T1.staff_id  =  T2.staff_id WHERE T2.role  =  'Sponsor'

hard pred: SELECT DISTINCT Model FROM vehicle WHERE Vehicle_ID NOT IN ( SELECT Vehicle_ID FROM vehicle_driver )
hard gold: SELECT model FROM vehicle EXCEPT SELECT T1.model FROM vehicle AS T1 JOIN vehicle_driver AS T2 ON T1.vehicle_id  =  T2.vehicle_id

eval_err_num:20
extra pred: SELECT c.Name, COUNT(p.PackageNumber) AS NumberOfPackages FROM Client c JOIN Package p ON c.AccountNumber = p.Sender GROUP BY c.AccountNumber ORDER BY NumberOfPackages DESC LIMIT 1
extra gold: SELECT T2.Name ,  count(*) FROM PACKAGE AS T1 JOIN Client AS T2 ON T1.Sender  =  T2.AccountNumber GROUP BY T1.Sender ORDER BY count(*) DESC LIMIT 1;

eval_err_num:21
extra pred: SELECT sa.date_from, sa.date_to FROM Students_Addresses sa JOIN ( SELECT student_id FROM Transcripts GROUP BY student_id HAVING COUNT(transcript_id) = 2 ) t ON sa.student_id = t.student_id
extra gold: SELECT date_from ,  date_to FROM Students_Addresses WHERE student_id IN ( SELECT student_id FROM Transcripts GROUP BY student_id HAVING count(*)  =  2 )

eval_err_num:22
medium pred: SELECT Id FROM goods WHERE (Food = 'Cookies' OR Food = 'Cake') AND Price BETWEEN 3 AND 7
medium gold: SELECT id FROM goods WHERE food  =  "Cookie" OR food  =  "Cake" AND price BETWEEN 3 AND 7

eval_err_num:23
easy pred: SELECT MAX(Number_of_Stories) FROM building WHERE Completed_Year <> 1980
easy gold: SELECT max(Number_of_Stories) FROM building WHERE Completed_Year != "1980"

eval_err_num:24
extra pred: SELECT COUNT(DISTINCT c.id) FROM cyclist c LEFT JOIN cyclists_own_bikes cob ON c.id = cob.cyclist_id AND cob.purchase_year > 2015 WHERE cob.bike_id IS NULL
extra gold: SELECT count(*) FROM cyclist WHERE id NOT IN ( SELECT cyclist_id FROM cyclists_own_bikes WHERE purchase_year  >  2015 )

medium pred: SELECT Racing_Series, COUNT(Driver_ID) FROM driver GROUP BY Racing_Series
medium gold: SELECT count(*) ,  racing_series FROM driver GROUP BY racing_series

eval_err_num:25
hard pred: SELECT Name FROM store s LEFT JOIN stock st ON s.Store_ID = st.Store_ID WHERE st.Headphone_ID IS NULL
hard gold: SELECT name FROM store WHERE store_id NOT IN (SELECT store_id FROM stock)

medium pred: SELECT Type_of_powertrain, AVG(Annual_fuel_cost) FROM Vehicles GROUP BY Type_of_powertrain HAVING COUNT(id) >= 2
medium gold: SELECT type_of_powertrain ,  avg(annual_fuel_cost) FROM vehicles GROUP BY type_of_powertrain HAVING count(*)  >=  2

eval_err_num:26
extra pred: SELECT r.ReceiptNumber, r.Date FROM receipts r JOIN items i ON r.ReceiptNumber = i.Receipt JOIN goods g ON i.Item = g.Id ORDER BY g.Price DESC LIMIT 1
extra gold: SELECT T1.ReceiptNumber ,  T1.Date FROM receipts AS T1 JOIN items AS T2 ON T1.ReceiptNumber  =  T2.receipt JOIN goods AS T3 ON T2.item  =  T3.id ORDER BY T3.price DESC LIMIT 1

eval_err_num:27
medium pred: SELECT datestamp, p.property_name FROM User_Property_History uph JOIN Properties p ON uph.property_id = p.property_id ORDER BY datestamp
medium gold: SELECT T1.datestamp ,  T2.property_name FROM User_Property_History AS T1 JOIN Properties AS T2 ON T1.property_id  =  T2.property_id ORDER BY datestamp;

eval_err_num:28
medium pred: SELECT DISTINCT s.sid, s.name FROM Sailors s JOIN Reserves r ON s.sid = r.sid
medium gold: SELECT DISTINCT T1.name ,  T1.sid FROM Sailors AS T1 JOIN Reserves AS T2 ON T1.sid  =  T2.sid

eval_err_num:29
extra pred: SELECT s.name, s.Nationality FROM staff s LEFT JOIN conference_participation cp ON s.staff_ID = cp.staff_ID LEFT JOIN conference c ON cp.Conference_ID = c.Conference_ID AND c.Conference_Name IN ('ACL', 'Naccl') WHERE cp.staff_ID IS NULL
extra gold: SELECT name ,  nationality FROM staff WHERE staff_id NOT IN (SELECT T2.staff_id FROM Conference AS T1 JOIN Conference_participation AS T2 ON T1.conference_id  =  T2.conference_id WHERE T1.Conference_Name  =  "ACL")

eval_err_num:30
medium pred: SELECT cs.Collection_Subset_ID, cs.Collection_Subset_Name, COUNT(cm.Collection_ID) AS Number_of_Collections FROM Collection_Subsets cs LEFT JOIN Collection_Subset_Members cm ON cs.Collection_Subset_ID = cm.Collection_Subset_ID GROUP BY cs.Collection_Subset_ID, cs.Collection_Subset_Name
medium gold: SELECT T2.Collection_Subset_ID ,  T1.Collection_Subset_Name ,  count(*) FROM Collection_Subsets AS T1 JOIN Collection_Subset_Members AS T2 ON T1.Collection_Subset_ID =  T2.Collection_Subset_ID GROUP BY T2.Collection_Subset_ID;

eval_err_num:31
medium pred: SELECT AVG(Price) FROM goods WHERE Flavor IN ('Blackberry', 'Blueberry')
medium gold: SELECT avg(price) FROM goods WHERE flavor  =  "Blackberry" OR flavor  =  "Blueberry"

eval_err_num:32
medium pred: SELECT bid, COUNT(*) AS reservation_count FROM Reserves WHERE sid > 1 GROUP BY bid
medium gold: SELECT bid ,  count(*) FROM Reserves WHERE sid  >  1 GROUP BY bid

eval_err_num:33
easy pred: SELECT Type_of_Question_Code, COUNT(*) AS Question_Count FROM Questions GROUP BY Type_of_Question_Code HAVING COUNT(*) >= 3
easy gold: SELECT Type_of_Question_Code FROM Questions GROUP BY Type_of_Question_Code HAVING count(*)  >=  3

eval_err_num:34
hard pred: SELECT DISTINCT h.Class FROM headphone h JOIN stock s ON h.Headphone_ID = s.Headphone_ID WHERE h.Earpads IN ('Bowls', 'Comfort Pads') GROUP BY h.Class HAVING COUNT(DISTINCT h.Earpads) = 2
hard gold: SELECT CLASS FROM headphone WHERE earpads  =  'Bowls' INTERSECT SELECT CLASS FROM headphone WHERE earpads  =  'Comfort Pads'

eval_err_num:35
medium pred: SELECT d.Name FROM director d JOIN program p ON d.Director_ID = p.Director_ID WHERE p.Title = 'Dracula'
medium gold: SELECT t2.name FROM program AS t1 JOIN director AS t2 ON t1.director_id  =  t2.director_id WHERE t1.title  =  'Dracula'

eval_err_num:36
medium pred: SELECT fname, COUNT(*) AS num_paintings FROM Artists JOIN Paintings ON Artists.artistID = Paintings.painterID GROUP BY Artists.artistID HAVING COUNT(Paintings.paintingID) >= 2
medium gold: SELECT T1.fname ,  count(*) FROM artists AS T1 JOIN paintings AS T2 ON T1.artistID  =  T2.painterID GROUP BY T2.painterID HAVING count(*)  >=  2

eval_err_num:37
extra pred: SELECT i.Institution_ID, i.Institution_Name, i.Location FROM institution i WHERE NOT EXISTS ( SELECT 1 FROM conference_participation cp JOIN conference c ON cp.Conference_ID = c.Conference_ID JOIN staff s ON cp.staff_ID = s.staff_ID WHERE c.Year = 2004 AND s.Institution_ID = i.Institution_ID )
extra gold: SELECT T1.Institution_Name ,  T1.location FROM institution AS T1 JOIN staff AS T2 ON T1.institution_id  =  T2.institution_id WHERE T2.staff_id NOT IN (SELECT T4.staff_id FROM Conference AS T3 JOIN Conference_participation AS T4 ON T3.conference_id  =  T4.conference_id WHERE T3.year  =  2004)

eval_err_num:38
extra pred: SELECT DISTINCT s.sid, s.name FROM Sailors s JOIN Reserves r ON s.sid = r.sid JOIN Boats b ON r.bid = b.bid WHERE b.color IN ('red', 'blue')
extra gold: SELECT DISTINCT T2.sid ,  T3.name FROM Boats AS T1 JOIN Reserves AS T2 ON  T1.bid  =  T2.bid JOIN Sailors AS T3 ON T2.sid  =  T3.sid WHERE T1.color  =  'red' OR T1.color  =  "blue"

extra pred: SELECT year, MAX(height_mm), MAX(width_mm) FROM Paintings GROUP BY year
extra gold: SELECT max(height_mm) ,  max(width_mm) ,  YEAR FROM paintings GROUP BY YEAR ORDER BY YEAR

eval_err_num:39
hard pred: SELECT DISTINCT s.sid FROM Sailors s LEFT JOIN Reserves r ON s.sid = r.sid WHERE r.sid IS NULL
hard gold: SELECT sid FROM Sailors EXCEPT SELECT sid FROM Reserves

eval_err_num:40
medium pred: SELECT DISTINCT c.Country FROM driver d JOIN team_driver td ON d.Driver_ID = td.Driver_ID JOIN team t ON td.Team_ID = t.Team_ID JOIN country c ON d.Country = c.Country_Id WHERE d.Points > 150
medium gold: SELECT T1.Country FROM country AS T1 JOIN driver AS T2 ON T1.Country_ID  =  T2.Country WHERE T2.Points  >  150

eval_err_num:41
extra pred: SELECT IdOrder FROM Books_Order bo1 JOIN Books_Order bo2 ON bo1.IdOrder = bo2.IdOrder WHERE bo1.ISBN IN (SELECT ISBN FROM Book WHERE Title = 'Pride and Prejudice') AND bo2.ISBN IN (SELECT ISBN FROM Book WHERE Title = 'The Little Prince')
extra gold: SELECT idOrder FROM Book AS T1 JOIN Books_Order AS T2 ON T1.isbn  =  T2.isbn WHERE T1.title  =  "Pride and Prejudice" INTERSECT SELECT idOrder FROM Book AS T1 JOIN Books_Order AS T2 ON T1.isbn  =  T2.isbn WHERE T1.title  =  "The Little Prince"

eval_err_num:42
extra pred: SELECT DISTINCT s.name FROM staff s JOIN conference_participation cp1 ON s.staff_ID = cp1.staff_ID AND cp1.role = 'Speaker' JOIN conference_participation cp2 ON s.staff_ID = cp2.staff_ID AND cp2.role = 'Sponsor'
extra gold: SELECT T1.name FROM staff AS T1 JOIN conference_participation AS T2 ON T1.staff_id  =  T2.staff_id WHERE T2.role  =  'Speaker' INTERSECT SELECT T1.name FROM staff AS T1 JOIN conference_participation AS T2 ON T1.staff_id  =  T2.staff_id WHERE T2.role  =  'Sponsor'

eval_err_num:43
hard pred: SELECT paper_id, COUNT(cited_paper_id) AS citation_count FROM Citation GROUP BY paper_id ORDER BY citation_count DESC LIMIT 10
hard gold: SELECT paper_id ,  count(*) FROM Citation GROUP BY cited_paper_id ORDER BY count(*) DESC LIMIT 10

eval_err_num:44
hard pred: SELECT Institution_Name FROM institution i LEFT JOIN staff s ON i.Institution_ID = s.Institution_ID WHERE s.staff_ID IS NULL
hard gold: SELECT institution_name FROM institution WHERE institution_id NOT IN (SELECT institution_id FROM staff)

hard pred: SELECT Country FROM country WHERE Country_Id NOT IN ( SELECT DISTINCT Country FROM driver )
hard gold: SELECT country FROM country WHERE country_id NOT IN (SELECT country FROM driver)

eval_err_num:45
hard pred: SELECT DISTINCT b.product_name FROM bike b JOIN cyclists_own_bikes cob ON b.id = cob.bike_id JOIN cyclist c ON cob.cyclist_id = c.id WHERE c.result < '4:21.558'
hard gold: SELECT DISTINCT T3.product_name FROM cyclist AS T1 JOIN cyclists_own_bikes AS T2 ON T1.id  =  T2.cyclist_id JOIN bike AS T3 ON T2.bike_id  =  T3.id WHERE T1.result  <  '4:21.558'

eval_err_num:46
medium pred: SELECT bid, COUNT(*) AS num_reservations FROM Reserves GROUP BY bid HAVING COUNT(*) > 1
medium gold: SELECT bid ,  count(*) FROM Reserves GROUP BY bid HAVING count(*)  >  1

eval_err_num:47
medium pred: SELECT c.client_id, COUNT(i.invoice_id) AS invoice_count FROM Clients c LEFT JOIN Invoices i ON c.client_id = i.client_id GROUP BY c.client_id
medium gold: SELECT client_id ,  count(*) FROM Invoices GROUP BY client_id

eval_err_num:48
extra pred: SELECT DISTINCT Customer_Details FROM Customers c JOIN Customers_and_Services cas ON c.Customer_ID = cas.Customer_ID WHERE Service_ID IN ( SELECT Service_ID FROM Services s LEFT JOIN Customers_and_Services cas2 ON s.Service_ID = cas2.Service_ID GROUP BY s.Service_ID ORDER BY COUNT(cas2.Service_ID) ASC, s.Service_ID LIMIT 1 )
extra gold: select distinct t1.customer_details from customers as t1 join customers_and_services as t2 on t1.customer_id  =  t2.customer_id where t2.service_id  =  (select service_id from services group by service_id order by count(*) asc limit 1)

eval_err_num:49
extra pred: SELECT COUNT(*) FROM driver d LEFT JOIN vehicle_driver vd ON d.Driver_ID = vd.Driver_ID WHERE vd.Vehicle_ID IS NULL
extra gold: SELECT count(*) FROM driver WHERE driver_id NOT IN ( SELECT driver_id FROM vehicle_driver )

eval_err_num:50
extra pred: SELECT t.teacher_id, t.teacher_details FROM Teachers t JOIN Classes c ON t.teacher_id = c.teacher_id GROUP BY t.teacher_id, t.teacher_details ORDER BY COUNT(c.class_id) DESC LIMIT 1
extra gold: SELECT T1.teacher_details ,  T1.teacher_id FROM Teachers AS T1 JOIN Classes AS T2 ON T1.teacher_id  =  T2.teacher_id GROUP BY T1.teacher_id ORDER BY count(*) DESC LIMIT 1

eval_err_num:51
medium pred: SELECT Nationality, COUNT(*) AS NumberOfCustomers FROM customer GROUP BY Nationality
medium gold: SELECT Nationality ,  COUNT(*) FROM customer GROUP BY Nationality

eval_err_num:52
hard pred: SELECT m.Name FROM member m JOIN club_leader cl ON m.Member_ID = cl.Member_ID WHERE cl.Year_Join < 2018

In [1]:

# with open(PREDICTIONS) as f:
#     predictions = json.load(f)

# for item in predictions[:5]:
#     db_id = item["db_id"]
#     query = item["query"]
#     db_file = os.path.join(DB_PATH, db_id, db_id + ".sqlite")
#     if not os.path.exists(db_file):
#         print(f"‚ùå Database file not found: {db_file}")
#         continue

#     try:
#         conn = sqlite3.connect(db_file)
#         cursor = conn.cursor()
#         cursor.execute(query)
#         columns = [description[0] for description in cursor.description]  # get column names
#         rows = cursor.fetchall()
#         conn.close()

#         result_df = pd.DataFrame(rows, columns=columns)
#         print(f"üìå Database: {db_id} | Query:\n{query}")
#         display(result_df)
#     except Exception as e:
#         print(f"‚ùå Error running query on {db_id}: {query}")
#         print(e)